@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

:root {
  --base-color: #1c1c2a;
  --accent-color: #d7c9fc;
  --aсtive-color: #a47af9;
  --font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #1c1c2a;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 0;
}

input {
  font-family: 'Inter', sans-serif;

}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.app-header {
  position: relative;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

p {
  margin: 0;
}

.notAllowed {
  cursor: not-allowed !important;
}


.chats {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 54rem;
  width: 100%;
  height: 100%;
  margin-top: 16px;
  margin-bottom: 73px;
  border-radius: 8px;
  overflow: auto;
}

.chats::-webkit-scrollbar {
  width: 5px;
}

.chats::-webkit-scrollbar-thumb {
  background-color: #d7c9fc;
  border-radius: 50px;
}

.base {
  display: flex;
  flex-direction: column;
  max-width: 54rem;
  width: 100%;
  height: calc(100% - 60px);
  margin: 0 auto;
  overflow: hidden;
  &--create-image {
    max-width: 58.625rem;
    overflow: inherit;
    @media (max-width: 1000px) {
      max-width: 100%;
      height: auto;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}

.message {
  display: grid;
  grid-template-columns: 36px 1fr;
  grid-gap: 16px;
  padding: 20px 24px;
}

.message {
  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;

    img {
      width: 24px;
      height: 24px;
      object-fit: cover;
    }

    &--user {
      background-color: #a47af9;

      img {
        width: 32px;
        height: 32px;
        object-fit: cover;
      }
    }
  }

  &__text {
    margin-top: 4px;

    p {
      line-height: 175%;
    }
  }

  &--ai {
    background-color: #2e303f;
    border-radius: 8px;
  }
}


.form {
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 39px;
  background-color: #2e303f;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px -4px 8px -3px rgba(255, 255, 255, 0.16);

  &__content {
    position: relative;
    max-width: 54rem;
    width: 100%;
    padding: 20px 24px;
  }

  &__input {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-right: 32px;
    font-size: 16px;
    font-weight: 400;
    color: #d7c9fc;
    background-color: transparent;
    border: none;
    outline: none;

    &::placeholder {
      color: #d7c9fc;
      opacity: .5;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px 5px 6px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .5rem;
    transition: opacity .2s ease-out;
    transition-duration: .15s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);

    svg {
      width: 24px;
      height: 24px;
      fill: #d7c9fc;
    }

    &:hover {
      opacity: .8;
      transition: opacity .2s ease-out;
    }

    &:disabled {
      opacity: .5;
    }

    &--active {
      background-color: #a47af9;

      svg {
        fill: #fff;
      }
    }
  }
}

.content {
  height: 100%;
}

.content__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    text-align: center;
    color: #d7c9fc;
  }

  p {
    max-width: 400px;
    width: 100%;
    font-size: 16px;
    line-height: 158%;
    text-align: center;
    color: #d7c9fc;
    opacity: .9;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  font-weight: 600;
  background-color: #2e303f;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;

    a {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      color: #d7c9fc;
      text-decoration: none;
      transition: opacity .2s ease-out;
      &:hover {
        opacity: .8;
        transition: opacity .2s ease-out;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  img {
    width: 30px;
    height: 30px;
  }

  span {
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
    font-size: 18px;
    font-weight: 600;
    color: #d7c9fc;
    margin-left: 10px;
  }
}

.images {
  &-result {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 500;
    color: #d7c9fc;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

    &__item {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.text-grid {
  width: 100%;
  height: 100%;

  &__typing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% !important;
    margin: auto;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.clear-message {
  position: absolute;
  top: 96px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  font-size: .875rem;
  color: #d7c9fc;
  border: 3px solid #2e303f;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .2s ease-out;
  svg {
    width: 20px;
    height: 20px;
    path {
      fill: #d7c9fc;
    }
  }
  span {
    display: none;
    font-size: 12px;
    line-height: 1;
    margin-left: 5px;
  }
  &:hover {
    background-color: #2e303f;
    transition: background-color .2s ease-out;
  }
}


@media (max-width: 1068px) {
  .clear-message {
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    max-width: 54rem;
    width: 100%;
    span {
      display: block;
    }
  }
  .chats {
    padding-top: 48px;
  }
}

@media (max-width: 864px) {
  .base {
    padding-left: 15px;
    padding-right: 15px;
  }

  .images-grid {
    grid-template-columns: 1fr;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 560px) {
  .header {
    padding: 10px 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .logo {
    img {
      width: 20px;
      height: 20px;
    }
    span {
      font-size: 14px;
      font-weight: 500;
      margin-left: 8px;
    }
  }
  .nav {
    li {
      a {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  .content {
    &__empty {
      h1 {
        font-size: 28px;
        font-weight: 600;
        margin: 12px 0;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .base {
    padding: 0;
  }
  .message {
    grid-template-columns: 32px 1fr;
    grid-gap: 12px;
    padding: 15px;
    transition: all .2s linear;
    &--ai {
      border-radius: 0;
    }
    &__avatar {
      width: 32px;
      height: 32px;
      img {
        width: 18px;
        height: 18px;
      }
      &--user {
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    &__text {
      p {
        font-size: 14px;
      }
    }
  }
  .clear-message {
    top: 48px;
    right: auto;
    width: 95%;
    padding: 6px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
  .chats {
    padding-top: 28px;
  }
}



.artwork {
  &-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #d7c9fc;
    margin-top: 0;
    margin-bottom: .7em;
    @media (max-width: 475px) {
      font-size: .875rem;
    }
  }
  &-item {
    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 1000px) {
        margin-bottom: 24px;
      }
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 445px);
    grid-gap: 48px;
    justify-content: center;

    @media (max-width: 1000px) {
      grid-template-columns: 445px;
      grid-gap: 32px;
    }

    @media (max-width: 475px) {
      grid-template-columns: 1fr;
    }

  }
  &-setting {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-result {
    position: relative;
    padding: 1.5em;
    background-color: #2e303f;
    border-radius: 12px;
    @media (max-width: 475px) {
      padding: 15px;
      margin-left: -15px;
      margin-right: -15px;
      background-color: transparent;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: calc(100% - 67px);
    }
    &__header {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 1.5em;
      @media (max-width: 475px) {
        margin-bottom: .7em;
      }
    }
    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.5em;
      @media (max-width: 475px) {
        margin-top: .7em;
      }
    }
    &__image {
      position: relative;
      width: 100%;
      height: 100%;
      background: linear-gradient(143.58deg, #E2B0FF -0.51%, #9F44D3 78.77%);
      border-radius: 12px;
      overflow: hidden;
      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__edit {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 12px;
      font-size: 14px;
      line-height: 1;
      background-color: #1c1c2a;
      border-radius: 12px;
      cursor: pointer;
      @media (max-width: 475px) {
        background-color: #2e303f;
      }
    }
    &__download {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 34px;
      padding: 8px 12px;
      background-color: #1c1c2a;
      border-radius: 12px;
      @media (max-width: 475px) {
        background-color: #2e303f;
      }
      img {
        position: static;
        width: 26px;
        height: 26px;
      }
    }
    &__title {
      width: 100%;
      margin-bottom: 0;
    }
  }
}

.create-image {
  margin: auto;
  padding-top: 24px;
  padding-bottom: 24px;

  @media (max-width: 1000px) {
    margin-left: 15px;
    margin-right: 15px;
  }

  @media (max-width: 560px) {
    margin-left: 0;
    margin-right: 0;
  }

  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-top: .5em;
    margin-bottom: 1em;
    color: rgb(164, 122, 249);
    @media (max-width: 560px){
      font-size: 24px;
    }
  }
}

.setting {
  &-size {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-gap: 16px;
    align-items: flex-end;
    padding: 16px;
    background-color: #2e303f;
    border-radius: 12px;
    margin-bottom: -15px;
    @media (max-width: 475px) {
      grid-gap: 12px;
      margin-left: -15px;
      margin-right: -15px;
      border-radius: 0;
      background-color: transparent;
      padding: 15px;
      margin-top: -.7em;
    }
  }
  &-prompt {
    &__input {
      width: 100%;
      border: none;
      border-radius: 12px;
      padding: 15px;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      outline: none;
      resize: none;
      background: #2e303f;
      color: #fff;
      &::placeholder {
        color: rgba(255, 255, 255, .5);
      }
    }
  }
  &-styles {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 259px;
    @media (max-width: 1000px) {
      margin-left: auto;
      margin-right: auto;
    }
    &__wrap {
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      grid-template-columns: repeat(4, minmax(0px, 1fr));
      grid-gap: 10px;
      align-items: center;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      @media (max-width: 396px) {
        grid-template-columns: repeat(3, minmax(0px, 1fr));
      }
      &::-webkit-scrollbar {
        height: 0;
        width: 0;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }
    &__row {
      display: flex;
    }
    &__img {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &-submit {
    padding: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--base-color);
    background-color: var(--aсtive-color);
    border-radius: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity .15s linear;
    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }
    &:not(:disabled) {
      &:hover {
        opacity: .8;
      }
    }
  }
}

.checkboxSize {
  display: flex;
  align-items: center;
  justify-content: center;
  &Content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1c1c2a;
    border-radius: 12px;
    cursor: pointer;
    @media (max-width: 475px) {
      background-color: #2e303f;
    }
    &-9x16 {
      width: 50px;
      height: 70px;
      @media (max-width: 475px) {
        width: 45px;
        height: 65px;
      }
    }
    &-1x1 {
      width: 50px;
      height: 50px;
      @media (max-width: 475px) {
        width: 45px;
        height: 45px;
      }
    }
    &-16x9 {
      width: 70px;
      height: 50px;
      @media (max-width: 475px) {
        width: 65px;
        height: 45px;
      }
    }
    &-4x3 {
      width: 70px;
      height: 56px;
      @media (max-width: 475px) {
        width: 65px;
        height: 51px;
      }
    }
    &-3x4 {
      width: 56px;
      height: 70px;
      @media (max-width: 475px) {
        width: 51px;
        height: 65px;
      }
    }
    span {
      font-size: 14px;
      font-weight: 600;
      color: #d7c9fc;
      @media (max-width: 475px) {
        font-size: 13px;
      }
    }
  }
}

.styles {
  &-item {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 10px;
    @media (max-width: 475px) {
      grid-gap: 6px;
    }
    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: clamp(85px,13vmin,95px);
      height: clamp(85px,13vmin,95px);
      border: 3px solid transparent;
      border-radius: 12px;
      overflow: hidden;
      cursor: pointer;
      opacity: .7;
      transition: opacity .15s linear;
      &:hover {
        opacity: 1;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__desc {
      display: flex;
      gap: 4px;
      align-items: center;
      height: 1.5em;
      font-size: 13px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
      color: var(--accent-color);
      @media (max-width: 475px) {
        font-size: 12px;
      }
    }
  }
  &-loader {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.result-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  align-items: center;
  &__title {
    font-size: .875rem;
    font-weight: 500;
    text-align: center;
    opacity: .8;
  }
}

.btn-action {
  font-family: "Inter", sans-serif;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity .15s linear;
  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
  &:not(:disabled) {
    &:hover {
      opacity: .8;
    }
  }
}


.modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 80px 8px 40px;
  box-sizing: border-box;
  width: 100%;
  &__close {
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    padding: 0;
    margin: 20px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1) none;
    color: white;
    cursor: pointer;
    &--svg {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__overlay {
    position: fixed;
    z-index: 11;
    display: flex;
    inset: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: transparent;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px 0, rgba(255, 255, 255, 0.1) -2px 1px 4px 0 inset;
  }

  &-image {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    &__container {
      position: relative;
      box-sizing: border-box;
      width: min(100%,calc(calc(calc(calc(9.290000000000001px * 100) - 64px) - 488px) * 0.6122448979591837));
      margin-bottom: 30px;
      &::before {
        content: "";
        display: block;
        padding-top: min(calc(100% * 1 / 0.6122448979591837),calc(calc(calc(9.290000000000001px * 100) - 64px) - 488px));
      }
      &--preview {
        width: min(100%,calc(calc(calc(calc(9.290000000000001px * 100) - 64px) - (2 * 35px) - 34px - 24px) * 0.6122448979591837));
        &:before {
          padding-top: min(calc(100% * 1 / 0.6122448979591837),calc(calc(calc(9.290000000000001px * 100) - 64px) - (2 * 35px) - 34px - 24px));
        }
      }
    }
    &__inner {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 24px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__image {
      display: block;
      overflow: hidden;
      position: absolute;
      inset: 0;
      box-sizing: border-box;
      margin: 0;
      img {
        position: absolute;
        inset: 0;
        box-sizing: border-box;
        padding: 0;
        border: none;
        margin: auto;
        display: block;
        width: 0;
        height: 0;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }
  }
  &-content {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 330px;
    &__desc {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.4px;
      margin-bottom: 16px;
      line-height: 19px;
      color: rgba(255, 255, 255, 0.5);
    }
    &__edit {
      width: 100%;
    }
  }
}

.content-edit {
  &__text {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }
  &__textarea {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    --label-color: none;
    --outline: none;

    textarea {
      font-family: "Inter", sans-serif;
      margin: 0;
      border: none;
      border-radius: 12px;
      padding: 15px;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      outline: var(--outline);
      resize: none;
      background: rgba(255, 255, 255, 0.1);
      color: white;
    }
  }
  &__button {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    color: rgb(93, 75, 239);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    &__slide {
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      display: flex;
    }
    &__limit {
      width: 68px;
      color: red;
    }
  }
  &__finish {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}

.edit {
  &-actions {
    &__number {
      width: 68px;
      color: white;
    }
    &__slide {
      display: flex;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 8px;
    }
  }
  &-finish {
    height: unset;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}

.slide-btn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background: none;
  padding: 8px;
  color: rgba(255, 255, 255, .8);
  transition: opacity .2s linear;
  &:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, .1);
  }
  &:hover {
    opacity: .8;
  }
  &:disabled {
    opacity: .2;
    cursor: not-allowed;
  }
}

.save-btn {
  height: 100%;
  line-height: 22px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 100px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.25px;
  min-width: unset;
  width: fit-content;
  background: rgb(93, 75, 239);
  padding: 16px 52px;
  cursor: pointer;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.policy {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  &__container {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
  }
  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    text-align: center;
    color: #d7c9fc;
    margin-bottom: 36px;

    @media (max-width: 560px) {
      font-size: 28px;
      font-weight: 600;
      margin-top: 12px;
      margin-bottom: 24px;
    }
  }
  &-heading {
    margin-top: 24px;
    margin-bottom: 12px;
  }
  p {
    font-weight: 300;
    line-height: 147%;
  }
  ul {
    li {
      a {
        color: currentColor;
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: .2px;
  color: #d7c9fc;
  background-color: #2e303f;
  border-top: 1px solid #3b3d4b;
  p {
    opacity: .7;
    margin-right: 12px;
  }
  a {
    color: currentColor;
    text-decoration: none;
    opacity: .7;
  }
}